---
import Layout from "../layout/Layout.astro";
import ItchSection from "@components/ItchSection.svelte";
import GithubSection from "@components/GithubSection.svelte";
import HeroSection from "@components/HeroSection.astro";
import getAllGithubRepos from "@helpers/fetchGithubProjects";
import { repoDummy } from "src/data/repoDummy";
import getAllItchProjects from "@helpers/fetchItchProjects";

let repos = import.meta.env.PROD ? await getAllGithubRepos() : repoDummy;

const itchio = await getAllItchProjects();
---

<Layout>
    <div class="flex flex-col gap-8">
        <HeroSection />

        <GithubSection repos={repos} client:idle />

        <ItchSection games={itchio} client:idle />
    </div>
</Layout>
