---
import Layout from "../layout/Layout.astro";
import GamesSection from "@components/games-section.svelte";
import GithubSection from "@components/github-section.svelte";
import HeroSection from "@components/hero-section.astro";
import getAllGithubRepos from "@helpers/repositories";
import getAllItchProjects from "@helpers/games";

const repos = await getAllGithubRepos();

const itchio = await getAllItchProjects();
---

<Layout>
    <div class="flex flex-col gap-8">
        <HeroSection />

        <GithubSection repos={repos} client:idle />

        <GamesSection games={itchio} client:idle />
    </div>
</Layout>
