---
import Layout from "../layout/Layout.astro";
import Games from "@components/Games.svelte";
import Github from "@components/Github.svelte";
import Hero from "@components/Hero.astro";
import getAllGithubRepos from "@helpers/repositories";
import getAllItchProjects from "@helpers/games";

const repos = await getAllGithubRepos();

const itchio = await getAllItchProjects();
---

<Layout>
    <div class="flex flex-col gap-8">
        <Hero />

        <Github repos={repos} client:idle />

        <Games games={itchio} client:idle />
    </div>
</Layout>
