---
import { Icon } from "astro-icon";
import Title from "@components/Title.svelte";
const socials = [
    {
        name: "Discord",
        icon: "ic:baseline-discord",
    },
    {
        name: "GitHub",
        icon: "mdi:github",
    },
];
---

<section class="flex gap-4 group/main">
    <div class="relative hidden overflow-hidden rounded-md sm:block">
        <img src="/images/avatar.png" class="w-96 h-full object-cover avatar" />
        <div
            class="absolute inset-0 transition-all duration-150 ease-linear border-2 border-accent group-hover/main:border-4"
        >
        </div>
    </div>
    <div class="flex flex-col justify-between gap-12 sm:gap-0">
        <div class="flex flex-col gap-2">
            <span class="text-4xl">
                Hey <span>&#128075;</span> I am
                <Title
                    title="Kiltec"
                    afterTitle="Pwnedu"
                    inviewEffect={false}
                    class="inline-block font-mono font-bold cursor-default hover:bg-accent hover:text-accent-invert"
                    client:load
                />
            </span>
            <p class="text-xl">
                <span class="font-mono font-semibold">Developer</span>. I create <a
                    class="font-mono font-semibold underline transition-colors duration-150 ease-linear underline-offset-4 hover:text-secondary/95"
                    href="https://github.com/pwnedu?tab=repositories"
                    target="_blank"
                    rel="noreferrer">open-source projects</a
                > to make development easier for everyone.
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <Title
                class="self-start font-mono text-2xl font-bold cursor-default hover:bg-accent hover:text-accent-invert"
                title="Contact me"
                speed={10}
                client:load
            />
            <div class="flex gap-2">
                {
                    socials.map((social) => (
                        <button class="p-1 transition-colors duration-150 ease-in-out rounded-md cursor-pointer hover:bg-secondary/80 active:bg-secondary group">
                            <Icon
                                name={social.icon}
                                class="w-12 h-12 transition-colors duration-150 ease-in-out group-hover:text-primary group-hover:animate-bounce"
                            />
                        </button>
                    ))
                }
            </div>
        </div>
    </div>
</section>

<script>
    const lightAvatar = "/images/avatar_light.png";
    const darkAvatar = "/images/avatar.png";
    const img: HTMLImageElement = document.querySelector(".avatar");
</script>
