---
import Header from "@components/Header.astro";
import "../styles/master.css";
import Footer from "@components/Footer.astro";
---

<html lang="en" class="h-full" data-theme="blue">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="title" content="Pwnedu" />
        <meta
            name="description"
            content="Developer. Developing tools for making life easier."
        />
        <meta
            name="keywords"
            content="developer, unity, tools, pipeline, github, projects, designer, notes, software, csharp, html, languages, programming"
        />
        <meta name="robots" content="index, follow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="author" content="Pwnedu" />
        <meta property="og:title" content="Pwnedu" />
        <meta property="og:site_name" content="Pwnedu" />
        <meta property="og:url" content="https://pwnedu.net" />
        <meta
            property="og:description"
            content="Developer. Developing tools for making life easier."
        />
        <meta property="og:type" content="profile" />
        <meta
            property="og:image"
            content="https://raw.githubusercontent.com/pwnedu/pwnedu.github.io/main/public/images/avatar.png"
        />

        <title>Pwnedu</title>
    </head>
    <body class="flex flex-col text-secondary bg-main h-screen">
        <Header />
        <main class="flex-grow w-full px-4 py-10 mx-auto max-w-7xl h-full">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<script>
    const html = document.documentElement;
    const avatar = document.querySelector(".avatar");
    const lightAvatar = "/images/avatar_light.png";
    const darkAvatar = "/images/avatar.png";

    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        html.dataset.theme = localStorage.getItem("theme");
    } else {
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            html.dataset.theme = "dark";
        } else {
            html.dataset.theme = "light";
        }
    }

    if (html.dataset.theme === "light") {
        avatar.src = lightAvatar;
    }
</script>
