---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "../styles/master.css";
---

<html lang="en" data-theme="blue">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="developing tools for making life easier"
        />
        <title>Pwnedu</title>
    </head>
    <body class="flex flex-col text-secondary bg-main">
        <Header />
        <main class="flex-grow w-full px-4 py-10 mx-auto max-w-7xl">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<script>
    const html = document.documentElement;

    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        html.dataset.theme = localStorage.getItem("theme");
    } else {
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            html.dataset.theme = "dark";
        } else {
            html.dataset.theme = "light";
        }
    }
</script>
